[submodule "third_party/capnproto"]
	path = third_party/capnproto
	url = https://github.com/sandstorm-io/capnproto
[submodule "third_party/grpc"]
	path = third_party/grpc
	url = https://github.com/grpc/grpc
[submodule "third_party/sparsehash"]
	path = third_party/sparsehash
	url = https://github.com/sparsehash/sparsehash
